<% @page_title = " | 寻找灵感，产生创意，创建家居灵感集" %>
  <div class="row">

      <div class="span9">

        <h3><%= @user.name %>的最新上传的设计</h3>
      <%= render partial:"shared/content",locals:{designs:@designs} %>

    </div> <!-- end of div class="span9" -->

    <div class="span3">
      <%= render partial:"shared/user_side",locals:{user:@user} %>
    </div><!-- end of div class="span3" -->


  </div>
  <%= render "shared/flow_script" %>
