<div class="container-fluid">
  <div class="row-fluid">
    <h1>Designs#index</h1>
      <ul class="thumbnails">
    <% @designs.each do |design| %>
      <li class="span3">
      <div class="thumbnail">
        <%= link_to :action => 'show',:id => design.id do %>
        <%= image_tag("#{design.image}",:alt => "#{design.title}", class:"img-rounded") %>
        <h3> <%= "#{design.title}" %></h3>
      <% end %>
      <p><%= design.user_id %></p>
    </div>
          </li>
          <% end %>
        </ul>
  </div>
</div>
