<div class="container-fluid">
  <div class="row-fluid">

    <% if @user %>
      <div class="span9">

      <%= render partial:"shared/content",locals:{designs:@designs} %>

    </div> <!-- end of div class="span9" -->

    <div class="span3">
      <%= render partial:"shared/user_side",locals:{user:@user} %>
    </div><!-- end of div class="span3" -->

  <% else %>
      <div class="span12">
      <%= render partial:"shared/content",locals:{designs:@designs} %>
    </div> <!-- end of div class="span12" -->
  <% end %> <!-- end of Line4 if -->

  </div>
</div>
  <script type="text/javascript">

var $container = $('#main');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 295
  });
});

  </script>
