  <div class="row">
    <div class="hero-unit">
      <h1>关于“淘灵感TaoLingGan.com“</h1>
      <br />
      <p>我们的使命是让准备装修的你不再烦恼。没有了灵感没关系，您可以来我们网站找找灵感，如果您最近正在打算装修，又无从下手，直接请设计师又太盲目，不妨先在我们网站上浏览一下，创建您自己的<b>灵感集</b>，并将自己喜欢的，能够激发您灵感的设计收集进来。你会发现装修不再是让你头痛的事情了，而是让你发散思维，产生创意的时刻，更重要的是为您自己创造了一个更加美丽，更加温馨的家！</p>
    </div>
  </div>

