<% @page_title = " | 联系我们" %>
  <div class="hero-unit">
    <h2>联系我们<h2>
    <br />
    <p>"淘灵感TaoLingGan.com"生在时尚之都——上海，并想将这种时尚带到你的家,"。如果您有任何问题请联系我们：</p>
    <p>Email: help@taolinggan.com</p>
  </div>
