<% @page_title = " | 帮助信息" %>
  <div class="hero-unit">
    <h2>帮助</h2>
    <br />
    <h3>通过"淘灵感TaoLingGan.com"可以得到什么？</h3>
    <p>淘灵感TaoLingGan.com致力于为您打造“温馨、美丽之家”，
    在这里您可以发现无数充满创意、激发灵感的精美设计；
    收集自己喜欢的设计加入自己的灵感收集箱，
    并用于自己的家装设计中；轻松的在这里找到专业的、靠谱的设计师；
    分享自己的设计风格，让自己成为风向标……</p>

  </div>
