<% @page_title = " | 编辑用户信息" %>
<div id="row">
  <div class="span12 offset4">
    <h1>修改帐号</h1>
    <%= form_for(@user) do |f| %>
      <div class="span4">
      <%= render partial:"shared/user_form", locals:{f:f} %>
    <%= f.submit "更新用户",class:"btn btn-large  btn-primary" %>
  </div>
  <% end %>
  </div>
</div>

