<%= error_messages_for(@user) %>
<div id="row-fluid">
  <div class="span12 offset6">
    <h1>修改帐号</h1>
    <%= form_for(@user) do |f| %>
      <%= render partial:"form", locals:{f:f} %>
    <%= f.submit "更新用户",class:"btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>

