<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <h1><%= @user.name %></h1>
      <h2><%= @user.email %></h2>
    </div>
    <div class="span3">
      <div class="well sidebar">
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
      </div>
    </div>
  </div>
</div>
