<ul class="thumbnails" >
  <div id="main">
    <% unless designs.empty? %>
    <% designs.all.each do |design| %>
      <li class="item">
    <div class="thumbnail">
      <%= link_to design_path(design) do %>
        <%= image_tag("#{design.image.thumb}",:alt => "#{design.title}", class:"img-rounded") %>
      <p> <%= "#{design.title}" %></p>
    <% end %>
  <% end %>
    </div>
    </li>
  <% end %>
  </div>
</ul>
