<ul class="thumbnails" >
  <div id="main">
    <% if designs.any? %>
    <% designs.each do |design| %>
      <li class="item">
    <div class="thumbnail">
      <%= link_to :controller => 'designs', :action => 'show',:id => design.id do %>
        <%= image_tag("#{design.image.thumb}",:alt => "#{design.title}", class:"img-rounded") %>
      <p> <%= "#{design.title}" %></p>
    <% end %>
  <% end %>
    </div>
    </li>
  <% end %>
  </div>
</ul>
