
<h1>Designs#index</h1>
<ul class="thumbnails" >
  <div id="main">
    <% designs.each do |design| %>
      <li class="item">
    <div class="thumbnail">
      <%= link_to :controller => 'designs', :action => 'show',:id => design.id do %>
        <%= image_tag("#{design.image}",:alt => "#{design.title}", class:"img-rounded") %>
      <h3> <%= "#{design.title}" %></h3>
    <% end %>
    </div>
    </li>
  <% end %>
  </div>
</ul>
