<% if object && object.errors.size > 0 %>
  <div id="alert alert-error">
    <h4><%= object.errors.size %> 个错误信息！</h4>
    <p>以下栏目存在错误信息:</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
