@import 'bootstrap';

.navbar {
  color: $blue;
}
.item {
  width: 220px;
  margin: 5px;
  float: left;
}

.thumbnails {
  margin-left: -5px;
}

.category {
  border:1px solid $grayLight;
  border-top-width:5px;
  border-top-color:$green;
  margin:10px 0;
}

footer {
  background:#252525;
  border-top:0;
  margin-top: 19px;
  padding-top: 19px;

  h4 {
    color:#999;
  }

  p {
    color:#999;
  }

  a {
    color:#fff;
  }
  a:hover {
    color:#fff;
    text-decoration:underline
  }

  #footer-floor {
    h4{color:#fff} 
    background:#1b1b1b;
    #elsewhere-msg {
      padding-top:18px;
    } 
    #elsewhere-icons{
      padding-top:13px;
      a {
        float:left;
        width:35px;
        height:35px;
        overflow:hidden;
        text-indent:-900px;
        margin:0 5px 0 0
      } 
    }
  }
}
