$navbarBackground: #82c23e;
$navbarBackgroundHighlight: #a9d554;
$navbarLinkColor: #39433a;
$navbarLinkColorHover: #fff;

@import 'bootstrap';

.navbar {

  .container {
    width:940px;
  }

  .nav {

}
    .navbar-inner {
      .container {
        h1 {
          margin-top: 30px; 
          color:#ffffff;
}  
}
}
}

.main {
  position: relative;
  padding: 20px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.avatar {
  border:1px solid #88c235;
}

.item {
  width: 220px;
  margin: 5px;
  float: left;
}

.thumbnails {
  margin-left: -5px;
}

.category {
  border:1px solid $grayLight;
  border-top-width:5px;
  border-top-color:$green;
  margin:10px 0;
}

footer {
  background:#252525;
  border-top:0;
  margin-top: 19px;
  padding-top: 19px;

  h4 {
    color:#999;
  }

  p {
    color:#999;
  }

  a {
    color:#fff;
  }
  a:hover {
    color:#fff;
    text-decoration:underline
  }

  #footer-floor {
    h4{color:#fff} 
    background:#1b1b1b;
    #elsewhere-msg {
      padding-top:18px;
    } 
    #elsewhere-icons{
      padding-top:13px;
      a {
        float:left;
        width:35px;
        height:35px;
        overflow:hidden;
        text-indent:-900px;
        margin:0 5px 0 0
      } 
    }
  }
}
